@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'sans-serif';
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  display: flex;
  width: 90vw;
}
.pannel {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  border-radius: 35px;
  position: relative;
  flex: 0.5;
  transition: flex 0.5 ease-in;
  color: rgb(238, 76, 76);
}
.pannel h3 {
  font-size: 20px;
  position: absolute;
  opacity: 0;
  left: 10px;
  bottom: 20px;
}
.pannel.active {
  flex: 5;
}
.pannel.active h3 {
  opacity: 0.8;
}
